html {
    font-size: 16px;
    margin: 0;
}

body {
    background-color: #05f5c5;
}

nav {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 5rem;
}

nav ul{
    list-style: none;
}

nav li {
    display: inline-block;
    background-color: #f5dd02;
    margin: 0 2rem;
    padding: 0.5rem 2rem;
    border-radius: 12%;
    font-size: 1.5rem;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 800;

}

header h1{
    position: relative;
    margin-top: 6rem;
    text-align: center;
}

header h1 span {
    background-color:  #f5dd02;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 5px solid black;
}

main {
    position: relative;
    margin: 2rem 5rem;
}

article {
    background-color: gray;
    padding: 1rem 0 1rem 1rem;
    border: 3px dotted black;
    margin: 2rem 0;
}

.color-container {
    width: 5rem;
    height: 5rem;
    display: inline-block;
    border: 8px solid black;
}

.color-showcase h2{
    display: inline-flex;
    vertical-align: top;
}

.red {
    background-color: red;
}

.teal {
    background-color: #05f5c5;
}

.orange {
    background-color: #f57105;
}

.yellow {
    background-color: #f5dd02;
}

.lime {
    background-color: #11f005;
}

#fonts table {
    text-align: center;
    border: 1px solid black;
    background-color: #11f005;
    font-size: 1.5em;
}



#fonts td {
    border: 1px solid black;
    background-color: #F5DD02;
    padding: 0 0.25rem;
}

.bold {
    font-weight: 800;
}

.italic {
    font-style: italic;
}
.roboto {
    font-family: 'Roboto';
}

.goldman {
    font-family: 'Goldman';
}

.lobster {
    font-family: 'Lobster';
}

.libre {
    font-family: 'Libre Baskerville';
}